/*======= Règles générales =======*/
:root {
    --colorblue: #0065fc;
    --colorgrey: #f2f2f2;
    --colorlightblue: #deebff;
}
body {
    max-width: 1400px;
    width: 95%;
    margin: auto;
    background-color:white;
    font-family: Raleway, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
img{
    object-fit:cover;
}
h1{
    font-weight: 700;
    font-size: 22px;
}
h2{
    font-weight: 700;
    font-size: 22px; 
    margin: 30px 0px;
}
h3{
    font-weight: 700;
    font-size: 16px;
}
p,
li{
    font-size: 16px;
    font-weight: 400;
}
h3,
p{
    padding: 0;
    margin: 0;
}
/* ======= FIN Règles générales ======= */
/* ======= HEADER Desktop====== */
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
    margin-bottom: 40px;
}
.logo-booki {
    margin: 0px;
}
.logo {
    display: flex;
    height: 19px ;
}
nav {
    display: flex;
    align-items: flex-end;
}
.nav_link {
    font-size: 16px;
    font-weight: 400;
    padding-top: 55px;
    border-top: 2px solid #fff;
    padding-left: 40px;
    padding-right: 40px;
}
.nav_link:hover {
    font-weight: 500;
    color: var(--colorblue);
    border-top: 2px solid var(--colorblue);
    transition: 0.2s;
}
/* ======= Fin HEADER Desktop ======= */
/*=========== Search Desktop =======*/
.color-blue{
    color:  var(--colorblue);
}
.color-grey{
    color:  var(--colorgrey);
}
.search_para {
    /*font-size: 16px;
    font-weight: 400; je met au regl gen*/
    margin-bottom: 26px;/*36*/
}
.search {
    display: flex;
    margin: 15px 0 25px 0;
}
.search i {
    background-color: var(--colorgrey);
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input {
    font-size: 18px;
    font-weight: 700;
    height: 35px;
    width: 190px;
    padding: 10px;
    border:  2px solid var(--colorgrey);
    border-right:  2px solid white;
}
::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: #000; 
}
.search_btn {
    background-color: var(--colorblue);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
    border: 1px solid var(--colorblue);
    cursor: pointer;
    padding: 10px;
}
.search_btn_phone {
    display: none;
}
/*=========== Fin Search Desktop==============*/
/*============= Filtre Desktop===========*/
.section-filtre{
    display : flex;
    align-items: center;
    /*margin-top: 40px;*/
}
.title-filtre{
    font-weight: 700;
    font-size: 18px;
}
.filtre{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    flex:1 0 70%;
}
.el-filtre {
    font-weight: 700;
    font-size: 17px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
}
.el-filtre:hover{
    background-color: #deebff;
}
.info{ 
    margin: 20px 0px 25px 0px;
}
/*======= Fin Filtre Desktop =======*/
/*======= Section Hebergement Desktop =======*/
.heberge-popu{
    display: flex;
    gap: 40px;
}
.heberge-popu p{
    font-size: 14px;
}
.container-heberge{
    background-color: var(--colorgrey);
    border-radius:20px;
    flex: 1 0 60%;
    padding: 0px 32px;
}
.div-photo-heberge{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 31px;
}
.card-heberge{
    background-color: white;
    flex-basis: 28%;
    height :199px;
    border-radius:20px  ;
    border: white solid;
    box-shadow: 2px  2px 2px 2px var(--colorgrey);
}
.text-heberge,
.icon-star{
    padding: 0px;
    margin: 0px;
}
.card-heberge img{
    width: 100%;
    height: 60%;
    border-radius:20px 20px 0 0;
    box-shadow: 2px  2px 2px 2px var(--colorgrey);
}
.title-photo-heberge{
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;
}
.affich{
    margin: 40px 0 46px 0;
    font-weight:700 ;
    font-size: 18px;
}
/*======= Fin Section Hebergement Desktop =======*/
/*======= Section Populaire Desktop =======*/
.icon-info{
    padding:2px 7px 2px 7px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    margin-right: 5px;
}
.continer-popu{
    background-color: var(--colorgrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
}
.head-popu h2,
.icon-chart{
    margin: 0;
    padding: 0;
}
.head-popu{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    align-items: flex-end;
    width: 100%;
}
.div-photo-popu{
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: center;
    gap: 33px;
}
.popu{
    background-color:white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 2px 2px var(--colorgrey);
    display: inherit;
    height: 140px;
}
.text-popu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    flex: 60%;
}
.popu img{
    width: 40%;
    border-radius: 20px 0 0 20px;
    border: 2px white solid;
}
/*======= Fin Section Populaire Desktop =======*/
/*======= Section Activites Desktop =======*/
figure {
    width: 24%;
    margin: 0;
    border-radius: 20px;
    box-shadow: 2px  2px 2px 2px var(--colorgrey);
}
.phot-activ{
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0px 0px;
 }
figcaption{
    margin:10px 0px 0px 19px ;
    font-weight: 700;
    font-size: 16px;
}
.card-activ{
    display: flex;
    justify-content:stretch;
    gap: 40px;
    margin-bottom: 50px;
}
/*======= Fin Section Activites Desktop =======*/
/*======= FOOTER Desktop =======*/
footer {
    background-color: var(--colorgrey);
    display: flex;
}
.containre-pied {
    flex: 1 0 27%;
}
.footer_link {
    margin: 10px 0px 10px 0px;
}
/*======= Fin FOOTER Desktop =======*/

/**********Tablette*********/
@media screen and (max-width: 992px) {
    .el-filtre {
        padding-left: 5px;
        padding-right: 5px;
    }
    .filtre {
        padding: 10px;
    }
    .container-heberge{
        flex: 1 0 95%;
    }
    .head-popu {
        margin: 30px 0px 0px 0px;
    }
    .heberge-popu{
        flex-direction: column;
        justify-content: stretch;
        margin: 0;
    }
    .continer-popu{
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;
        padding-bottom: 48px;
        padding-left: 40px;
    }
    .popu{
        width: 30%;
        justify-content: space-between;
    }
    .popu h3{
        font-size: 14px;
    }
    .popu p{
        font-size: 13px;
    }
    .div-photo-popu{
        flex-direction: row;
    }
    .phot-activ {
        height: 80%;
    }
}
/********** Fin Tablette **********/
/********** Smartphone **********/
@media screen and (max-width: 768px) {
    body {
        min-width: 320px;
        width: 100%;
    }
    /*====== HEADER Smartphone ======*/
    .header {
        flex-direction: column;
        align-items: center;
    }
    .logo-booki {
        margin-top: 20px;
    }
    .logo {
        height: 25px;
    }
    nav {
        width: 100%;
    }
    .nav_link {
        border-bottom: 4px solid var(--colorgrey);
        padding-bottom: 18px;
        width: 50%;
        padding: 35px 1% 20px 1%;
        text-align: center;
    }
    .nav_link:hover {
        color: var(--mainblue);
        border-bottom: 4px solid var(--colorblue);
        border-top: none;
    }
    /*====== Fin HEADER Smartphone ======*/
    /*=========== Search Smartphone ======*/
     .searching {
        width: 95%;
        margin: auto;
    }
    .search input {
        width: 250px;
    }
    .search_btn {
        display: none;
    }
    .search_btn_phone {
        display: block;
        background-color: var(--colorblue);
        height: 60px;
        border: solid 2px transparent;
        border-radius: 15px;
        margin-left: -5%;
    }
    .search_btn_phone i {
        color: #fff;
        background: none;
    }
    /*======= Fin Search Smartphone =======*/
    /* ====== Filter Smartphone ====== */
    .section-filtre{
        flex-direction: column;
        align-items: flex-start;
        width: 95%;
        margin: auto;
    }
    .filtre{
        flex-wrap: wrap;
        width: 100%;
        padding: 0px;
    }
    .el-filtre{
        width:40%;
        font-size: 11px;
        padding-left:  5px;
        padding-right: 5px;
    }
    /*======= Fin Filter Smartphone =======*/
    /*====== Hebergement & Populaire Smartphone =======*/
    .info {
        width: 95%;
        margin: auto;
    }
    .info p {
        margin-bottom: 25px;
    }
    .affich{
        display: none;
    }
    .container-heberge{
        background-color:white;
        padding: 0px 20px;
    }
    .card-heberge{
        flex:1 0 95%;
    }
    .continer-popu{
        flex-direction: column;
        align-items: stretch;
        background-color:var(--colorgrey);
        order: -1;
        padding: 0px 20px 20px 20px;
        border-radius: 0;
    }
    .div-photo-popu{
        flex-direction: column;
        flex:1 0 95%;
    }
    .popu{
        width: 100%;
    }
    /*======Fin Hebergement & Populaire Smartphone ======*/
    /*======= Section Activ smartphone =======*/
    .container-activ{
        width: 90%;
        margin: auto;
    }
    .phot-activ{
        height: 134px;
    }
    figure{
        width: 100%;
    }
    .card-activ{
        flex-direction: column;
        flex-basis: 80%; 
        justify-content: center;
    }
    /*====== Fin Section Activ smartphone ======*/
    /* ======== FOOTER smartphone ====== */
    .containre-pied {
        flex-basis: 95%;
    }
    footer{
        flex-direction: column;
    }
    /*======= Fin FOOTER smartphone =======*/
}
