body{
    background-color: #FFFFFF;
    max-width: 1400px;
    width: 100%;
    font-family: Raleway;
}
/*css section footer pied de page*/
footer{
    background-color: #F2F2F2;
    margin-left: 3.33%;
    margin-right: 3.68%;
    margin-top: 0%;
    margin-bottom: -10%;
    display: flex;
    
}
.containre-pied{
    list-style-type: none;
    width: 30%;
}

/*fin css section footer pied de page*/
/*css partie portable*/
@media screen and (max-width: 768px)  {
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
/*fin css partie portable*/
/*css partie tablette*/
@media screen and (max-width: 992px) and (min-width: 769px) {
    
}
/*fin css partie tablette*/